/* -------------------------------------------------------------------
ACCORDION
------------------------------------------------------------------- */
.accordion {
    margin: 0;
    padding: 0;
    //padding: 0 0 40px;
    background: url('../images/bg-accordion-bottom.png') bottom center no-repeat;
    list-style-type: none;

    .item {
        // not used
        a,
        .title {
            color: #b08ea2;
            text-align: center;
            font-size: 22px;
            font-family: 'TeXGyreAdventorBold',sans-serif;
            text-transform: uppercase;
            height: 62px;
            line-height: 55px;
            background: url('../images/bg-accordion-item.png') top center no-repeat;
            display: block;

            &:hover {
                background-position: bottom center;
            }
        }
    }

    &.is-active>.title {
        color: #eb008b;
    }

    .content {
        margin: 0 0 15px;

        h2 {
            font-size: 20px;
            line-height: 22px;
            margin: 0 0 10px;
            font-weight: bold;
        }

        h3 {
            font-size: 16px;
            line-height: 20px;
            color: #eb008b;
            margin: 0 0 16px;
            font-weight: bold;
        }

        ol {
            list-style: decimal;
            margin: 0 0 14px 20px;

            li {
                display: list-item;
                font-size: 14px;
                line-height: 20px;

                strong {
                    font-weight: bold;
                }
            }
        }

        ul {
            list-style-type: disc;
            margin: 0 0 14px 20px;

            li {
                display: list-item;
                font-size: 14px;
                line-height: 20px;

                strong {
                    font-weight: bold;
                }
            }
        }

        p {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            margin: 0 0 13px;
            strong {
                font-weight: bold;
            }
            a {
                color: #eb008b;
            }
        }

        .seal {
            float: left;
            margin: 20px 10px 20px 0;
        }
    }

    table {
        margin: 0 0 14px;

        thead th {
            padding: 5px;
            border: 1px solid #999999;
            text-align: center;
            background-color: #f3f3f3;
            font-weight: bold;
        }

        tbody td {
            padding: 0 15px 0 0;
            line-height: 20px;
            vertical-align: top;
            text-align: center;
            border: 1px solid #999999;
            width: 50%;
        }

        &.excercise-chart tbody td {
            padding: 15px 0;
            font-size: 14px;
            line-height: 20px;
        }

        &.information-chart {
            width: 100%;
        }
    }
}

.accordion.top {
    //margin: 0 auto;
}

.accordion>.item .content .stand-out {
    font-weight: bold;
    color: #eb008b;
}


// accordion1
.accordion1 {
    width: 580px;
    margin: 0px auto 0;
    padding: 0 0 40px;
    background: url('../images/bg-accordion-bottom.png') bottom center no-repeat;

    .title {
        color: #f57fc5;
        text-align: center;
        font-size: 22px;
        font-family: 'TeXGyreAdventorBold',sans-serif;
        text-transform: uppercase;
        height: 62px;
        line-height: 55px;
        background: url('../images/bg-accordion-item.png') 0 0;
        display: block;

        &:hover {
            background-position: bottom left;
        }
    }
    .item {

        &.is-active .title {
            color: #eb008b;
        }
    }

    .content {
        margin: 0 0 15px;

        h2 {
            font-size: 20px;
            line-height: 22px;
            margin: 0 0 10px;
            font-weight: bold;
        }

        h3 {
            font-size: 16px;
            line-height: 20px;
            color: #eb008b;
            margin: 0 0 16px;
            font-weight: bold;
        }

        ol {
            list-style: decimal;
            margin: 0 0 14px 20px;
            li {
                display: list-item;
                font-size: 14px;
                line-height: 20px;

                strong {
                    font-weight: bold;
                }
            }
        }
        ul {
            list-style-type: disc;
            margin: 0 0 14px 20px;

            li {
                display: list-item;
                font-size: 14px;
                line-height: 20px;

                strong {
                    font-weight: bold;
                }
            }
        }
        p {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            margin: 0 0 13px;
            strong {
                font-weight: bold;
            }

            a {
                color: #eb008b;
            }
        }

        .seal {
            float: left;
            margin: 20px 10px 20px 0;
        }

        .stand-out {
            font-weight: bold;
            color: #eb008b;
        }
    }

    table {
        margin: 0 0 14px;

        thead th {
            padding: 5px;
            border: 1px solid #999999;
            text-align: center;
            background-color: #f3f3f3;
            font-weight: bold;
        }

        tbody td {
            padding: 0 15px 0 0;
            line-height: 20px;
            vertical-align: top;
            text-align: center;
            border: 1px solid #999999;
            width: 50%;
        }

        &.excercise-chart tbody td {
            padding: 15px 0;
            font-size: 14px;
            line-height: 20px;
        }

        &.information-chart {
            width: 100%;
        }
    }
}
/*
.accordion1>.item>a:hover,
.accordion>.item>.title:hover {
    background-position: bottom left;
}
.accordion1>.item.is-active>.title {
    color: #eb008b;
}

&.top {
    margin: 0 auto;
}
*/
