/* -------------------------------------------------------------------
PREGUNTAS FRECUENTES
------------------------------------------------------------------- */
.faq>li {
    margin:0 0 15px;
}
.faq>li>ul {
    margin:0 0 0 20px;
    list-style-type:disc;
}
.faq>li>ul>li {
    display:list-item;
}
.faq span {
    font-weight:bold;
    color:#eb008b;
    display:block;
}
.faq strong {
    font-weight:bold;
}
.faq br {
    display:none;
}