.site-footer {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    background: $royal-heath url('../images/bg-footer.png') top left repeat-x;
    border-bottom: 2px solid $red-violet;

    a {
        color: $kobi;

        &:hover { color: $white; }
    }

    .developer {
        @media #{$medium-up} {
            position: absolute;
            bottom: 15px;
            right: 20px;
        }

        > a {
            @media #{$small-only} {
                float: right;
            }

            display: block;
            @include replace-text-with-image('../images/logo-guibomedia.gif', 90px, 27px, false);
        }
    }

    h3 {
        margin-bottom: 5px;

        font-size: rem-calc(13px);
        text-transform: uppercase;

        > a { color: $white; }
    }

    .l-stacked {
        margin: 0 0 0 16px;
        padding-bottom: 10px;

        list-style: disc;
        color: $white;

        > li {
            line-height: 18px;
            display: list-item;
            font-size: rem-calc(13px);
        }
    }

    .copy {
        padding: 10px 0 0;

        border-top: 1px solid $lipstick;
        text-align: center;

        > p {
            margin: 0;

            color: $lily;
            font-size: rem-calc(10px);
            line-height: 18px;

            &.highlight {
                color: $white;
            }
        }
    }

    p.links > a {
        color: $melanie;
        text-decoration: underline;

        &:hover, &:active {
            text-decoration: none;
        }
    }

    // .contact-info {
    //     position: relative;

    //     &__icons {
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //     }
    // }
}
