/* -------------------------------------------------------------------
CONTACT FORM
------------------------------------------------------------------- */
.contact-form {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #EB008B;
    color: $white;
    @include linear-gradient(#C20274, #8F0255);
    @include border-radius(5px);

    .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 12px;
    }

    .wpcf7-not-valid-tip {
        //padding-bottom: 8px;
        @include font-size(13px);
    }

    form {

        input.your-name,
        input.your-email,
        textarea {
            border: 1px solid #EB008B;
            margin-bottom: 0;
            padding-left: 4px;
            padding-right: 4px;
            width: 100%;
            height: 28px;
            @include border-radius(5px);
        }

        .label {
            @include font-size(14px);
        }

        select {
            margin-bottom: 12px;

            border: 1px solid #EB008B;
            line-height: 28px;
            height: 28px;
        }

        textarea {
            //margin-bottom: 6px;
            padding-top: 5px;
            font-family: Arial, sans-serif;
            height: 90px;
        }

    }

    .ajax-loader {
        position: absolute;
        bottom: 10px;
        left: 290px;
    }

    .cta {
        display: block;
        width: 100%;
        height: 38px;

        color: $white;
        cursor: pointer;
        border: 1px solid #E91793;
        font-size: rem-calc(20px);
        font-family: $font-tex-bold;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;

        @include linear-gradient(#E554AA, #EB018B);
        @include box-shadow(0, 2px, 3px, darken(#EB018B, 30%), false);
        @include border-radius(5px);

        &:hover, &:focus {
            outline: none;
            color: $white;
            @include linear-gradient(lighten(#E554AA,8%), lighten(#EB018B,8%));
        }
    }

}

.consultorio-online__instructions {
    p {
        line-height: 1;
        margin: 0;
        margin-bottom: 8px;
        @include font-size(12px);
    }

    ul {
        margin-bottom: 10px;
    }

    li {
        @include font-size(12px);
    }

    label {
        color: #F57FC5;
        line-height: 1;
        @include font-size(12px);
    }
}
/*


    form select {
        width: 230px;
    }
     form .captcha-txt {
        width: 50px;
    }
     form .call-to-action li {
        padding: 0 5px 0 0;
    }
     form .call-to-action li strong {
        display: block;
    }
     form .call-to-action .submit {
        padding: 0;
    }
     form .call-to-action .submit .wpcf7-submit {
        width: 78px;
        height: 30px;
        text-transform: uppercase;
        text-indent: -9000px;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        background-image: url('images/btn-send.png');
        background-position: top left;
        background-repeat: no-repeat;
    }
     form .call-to-action .submit .wpcf7-submit:hover {
        background-position: bottom left;
    }
*/
