/* -------------------------------------------------------------------
NOMBRES DE BEBÉS
------------------------------------------------------------------- */
.nombres-bebes .heading {
    font-size:20px;
    font-family:'TeXGyreAdventorRegular',sans-serif;
    clear:both;
    margin:15px;
    color:#b08ea2;
}
.nombres-bebes .l-inline.category {
    margin:0 0 10px;
}
.nombres-bebes .l-inline.category li {
    font-size:14px;
    font-weight:bold;
    margin:0 10px 0 0;
    background-image:url('images/icon-bebes.png');
    background-repeat:no-repeat;
    width:57px;
    height:20px;
    display:block;
    text-indent:-9000px;
}
.nombres-bebes .l-inline.category li a {
    display:block;
}
.nombres-bebes .l-inline.category li.masculino {
    background-position:0 0;
}
.nombres-bebes .l-inline.category li.masculino.is-active {
    background-position:0 -20px;
}
.nombres-bebes .l-inline.category li.femenino {
    background-position:-57px 0;
}
.nombres-bebes .l-inline.category li.femenino.is-active {
    background-position:-57px -20px;
}
.nombres-bebes strong {
    font-weight:bold;
    color:#bde5f8;
}
.nombres-bebes .name-list .tab-name li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:260px;
    margin:0 15px 8px 0;
}