.slider {
    width:960px;
    height:400px;
    margin:0 auto;
    background:url('../images/drop-shadow-slider.png') bottom center no-repeat;
    padding:0 0 30px;

    .meteor-nav {
        .prev a {
            background:transparent url('../images/btn-prev.png') no-repeat top left;
            &:hover {
                background:transparent url('../images/btn-prev.png') no-repeat bottom left;
            }
        }

        .next a {
            background:transparent url('../images/btn-next.png') no-repeat top left;
            &:hover {
                background:transparent url('../images/btn-next.png') no-repeat bottom left;
            }
        }
        .prev a,
        .next a {
            width:56px;
            height:56px;
            top:175px;
        }
    }

    .meteor-slides .meteor-buttons {
        bottom:10px;
        width:auto;
        right:20px;

        a {
            width:11px;
            height:14px;
            background:url('../images/slider-buttons.png') no-repeat bottom left;
        }

        .meteor-buttons a:hover,
        .meteor-buttons a.activeSlide {
            background:url('../images/slider-buttons.png') no-repeat bottom right;
        }
    }
}
