/* -------------------------------------------------------------------
RESET
------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
body {
    line-height:1;
}
ol,ul {
    list-style:none;
}
blockquote,q {
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* -------------------------------------------------------------------
CLEARFIX
------------------------------------------------------------------- */
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    display:inline-block;
}
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}
/* -------------------------------------------------------------------
FONTS
------------------------------------------------------------------- */
@font-face {
    font-family:'LeagueGothicRegular';
    src:url('css/font-league/League_Gothic-webfont.eot');
    src:url('css/font-league/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),url('css/font-league/League_Gothic-webfont.woff') format('woff'),url('css/font-league/League_Gothic-webfont.ttf') format('truetype'),url('css/font-league/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'TeXGyreAdventorRegular';
    src:url('css/font-tex/texgyreadventor-regular-webfont.eot');
    src:url('css/font-tex/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),url('css/font-tex/texgyreadventor-regular-webfont.woff') format('woff'),url('css/font-tex/texgyreadventor-regular-webfont.ttf') format('truetype'),url('css/font-tex/texgyreadventor-regular-webfont.svg#TeXGyreAdventorRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'TeXGyreAdventorBold';
    src:url('css/font-tex/texgyreadventor-bold-webfont.eot');
    src:url('css/font-tex/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),url('css/font-tex/texgyreadventor-bold-webfont.woff') format('woff'),url('css/font-tex/texgyreadventor-bold-webfont.ttf') format('truetype'),url('css/font-tex/texgyreadventor-bold-webfont.svg#TeXGyreAdventorBold') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Decker';
    src:url('css/font-decker/Decker.eot');
    src:url('css/font-decker/Decker.eot?#iefix') format('embedded-opentype'),url('css/font-decker/Decker.woff') format('woff'),url('css/font-decker/Decker.ttf') format('truetype'),url('css/font-decker/Decker.svg#Decker') format('svg');
    font-weight:normal;
    font-style:normal;
}
/* -------------------------------------------------------------------
GENERAL
------------------------------------------------------------------- */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 300px;
    background:transparent url('images/bg-main.png') top center repeat-y;
    font:normal 12px/16px Arial,Helvetica,sans-serif;
    color:#666666;
}

/* -------------------------------------------------------------------
UTILITIES
------------------------------------------------------------------- */
.l-inline li {
    display:inline;
    float:left;
}
.is-hidden {
    display:none !important;
}
img.alignright {
    float:right;
    margin:0 0 1em 1em
}
img.alignleft {
    float:left;
    margin:0 1em 1em 0
}
img.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto
}
.alignright {
    float:right;
}
.alignleft {
    float:left;
}
.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto
}
#post-801>h2 {
    font-size:20px;
    line-height:24px;
    font-family:'TeXGyreAdventorBold',sans-serif;
    color:#f57fc5;
    text-align:center;
    padding:0 0 40px;
    background:url('images/bg-heading-bottom.png') bottom center no-repeat;
    text-transform:uppercase;
}
#post-801 .entry>p {
    display:none;
}
.instructional-images {
    clear:both;
    overflow:hidden;
    padding:1em 0 4em;
    text-align:center;
}
.result-image {
    display:inline-block;
    margin:0 0.5em;
}
.spacer {
    padding:1em;
    text-align:center;
}
.spacer img {
    display: inline-block;
}

/* -------------------------------------------------------------------
HEADER
------------------------------------------------------------------- */
.header {
    height:130px;
    background:#ffffff url('images/bg-body.png') top left repeat-x;
}
.header .bg {
    background:transparent url('images/bg-header.png') top center no-repeat;
    padding:20px 0 0;
}
.header .bg>.content {
    width:980px;
    margin:0 auto;
    position:relative;
}
.header .logo {
    width:314px;
    height:134px;
    background:transparent url('images/logo.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.header .logo>a {
    display:block;
    width:314px;
    height:134px;
}
.header .contact-us-phone {
    position:absolute;
    top:10px;
    right:0;
}
.header .contact-us-links a {
    background-image:url('images/icons_header.png');
}
.header .contact-us-links .home>a {
    width:34px;
    background-position:0 0;
}
.header .contact-us-links .home>a:hover {
    background-position:0 -31px;
}
.header .contact-us-links .mail>a {
    width:36px;
    background-position:-41px 0;
}
.header .contact-us-links .mail>a:hover {
    background-position:-41px -31px;
}
.header .contact-us-links .facebook>a {
    width:30px;
    background-position:-84px 0;
}
.header .contact-us-links .facebook>a:hover {
    background-position:-84px -31px;
}
.header .phone-number {
    color:#c870a3;
}
/* -------------------------------------------------------------------
FOOTER
------------------------------------------------------------------- */
.footer {
    height:300px;
    background:#9f1561 url('images/bg-footer.png') top left repeat-x;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
.footer .logo {
    width:130px;
    height:53px;
    background:transparent url('images/logo-footer.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.footer .logo>a {
    display:block;
    width:130px;
    height:53px;
}
.footer .developer {
    position:absolute;
    right:0;
    bottom:15px;
    right:20px;
}
.footer .developer>a {
    display:block;
    width:90px;
    height:27px;
    background:transparent url('images/logo-guibomedia.gif') 0 0 no-repeat;
    text-indent:-9999px;
}
.footer .logo-elea {
    width:61px;
    height:29px;
    background:transparent url('images/logo-elea.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.footer .logo-elea>a {
    display:block;
    width:61px;
    height:29px;
}
.footer .content {
    padding:15px 0 0;
}
.footer .col {
    width:170px;
    float:left;
}
.footer .col.col-02 {
    width:230px;
}
.footer .col.col-03 {
    width:180px;
}
.footer .col.col-04 {
    width:200px;
}
.footer .col h3 {
    text-transform:uppercase;
    padding-bottom:10px;
}
.footer .col h3>a {
    color:#ffffff;
}
.footer .col .l-stacked {
    padding-bottom:10px;
    list-style:disc;
    margin:0 0 0 16px;
}
.footer .col .l-stacked>li {
    line-height:18px;
    display:list-item;
}
.footer .col.last {
    margin:0;
    width:150px;
}
.footer .copy {
    clear:both;
    text-align:center;
    border-top:1px solid #ba076f;
    padding:10px 0 0;
}
.footer .copy>p {
    font-size:10px;
    line-height:18px;
    color:#d2a7ba;
}
.footer .copy>p.highlight {
    color:#ffffff;
}
.footer .copy>p.links>a {
    color:#e1bdd0;
    text-decoration:underline;
}
.footer .copy>p.links>a:hover,.footer .copy>p.links>a:active {
    text-decoration:none;
}
.footer a {
    color:#e1a4c1;
}
.footer a:hover {
    color:#ffffff;
}
.footer>.content,#main>.content {
    width:980px;
    margin:0 auto;
    position:relative;
}
/* -------------------------------------------------------------------
CONTENT
------------------------------------------------------------------- */
#main>.content {
    width:960px;
    padding:0 0 15px;
}
#main>.content .entry {
    width:600px;
    margin:auto;
}
#main>.content .entry .intro {
    color:#eb008b;
}
#main>.content .entry .intro h4 {
    font-weight:bold;
    font-size:14px;
    line-height:20px;
    margin:0 0 10px;
}
#main>.content .entry .intro>p {
    font-size:14px;
    line-height:20px;
    margin:0 0 13px;
}
#main>.content .entry .intro>p>a {
    font-weight:bold;
    color:#eb008b;
}
#main>.content .entry.wide {
    width:650px;
}
/* -------------------------------------------------------------------
PRODUCTOS
------------------------------------------------------------------- */
.products>.item {
    padding:0 0 40px;
    background:url('images/bg-accordion-bottom.png') bottom center no-repeat;
}
.products>.item img {
    float:right;
}
.products>.item .info {
    font-family:'Decker',sans-serif;
    color:#b08ea2;
    font-size:20px;
    line-height:24px;
    margin:0 0 10px;
}
.products>.item .demo {
    position:relative;
    width:230px;
}
.products>.item .demo .view-demo {
    display:block;
    width:75px;
    height:75px;
    background:url('images/link-demo.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.products>.item .demo .view-demo:hover {
    background-position:bottom left;
}
.products>.item .demo .view-link {
    position:absolute;
    font-family:'TeXGyreAdventorRegular',sans-serif;
    color:#f57fc5;
    top:30px;
    left:80px;
    font-size:16px;
}
.item-single .info {
    font-family:'Decker',sans-serif;
    color:#b08ea2;
    font-size:20px;
    line-height:24px;
    margin:0 0 10px;
}
.item-single .demo {
    position:relative;
}
.item-single .demo .view-demo {
    display:inline-block;
    width:75px;
    height:75px;
    background:url('images/link-demo.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.item-single .demo .view-demo:hover {
    background-position:right bottom;
}
.item-single .demo .download {
    display:inline-block;
    width:85px;
    height:63px;
    background:url('images/link-download.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.item-single {
    width:635px;
    margin:15px auto;
}
.item-single img {
    float:right;
}
/* -------------------------------------------------------------------
MENU
------------------------------------------------------------------- */
.menu-products {
    width:100%;
    margin:0 auto;
    text-align:center;
}
.menu-products li {
    font-family:'TeXGyreAdventorBold',sans-serif;
    font-size:20px;
    text-transform:uppercase;
    float:none;
    display:inline-block;
}
.menu-products li.menu-01 {
    margin-right:10px;
}
.menu-products li.menu-02 {
    margin-right:40px;
}
.menu-products li.menu-03 {
    margin-right:40px;
}
.menu-products li.menu-04 {
    margin-right:0px;
}
.menu-products a {
    display:block;
    padding:5px 10px;
    color:#b08ea2;
}
.menu-products .current-page-ancestor a,.menu-products .current-menu-item a {
    color:#eb008b;
    border:1px solid #e2e2e2;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0px 5px rgba(0,0,0,0.3);
    box-shadow:0 0px 5px rgba(0,0,0,0.3);
}
.navigation .menu {
    padding:30px 0 20px;
}
.navigation .menu>li {
    font-family:'TeXGyreAdventorBold',sans-serif;
    text-transform:uppercase;
    height:35px;
    text-align:center;
    background:transparent url('images/nav-line.png') center right no-repeat;
    font-size:16px;
    line-height:18px;
}
.navigation .menu>li.menu-01 {
    width:145px;
}
.navigation .menu>li.menu-02 {
    width:105px;
    padding:0 15px;
}
.navigation .menu>li.menu-03 {
    width:136px;
    padding:0 10px;
}
.navigation .menu>li.menu-04 {
    width:204px;
}
.navigation .menu>li.menu-05 {
    width:120px;
    padding:0 25px;
}
.navigation .menu>li.menu-06 {
    background-image:none;
    width:150px;
}
.navigation .menu>li>a {
    color:#f57fc5 !important;
}
.navigation .menu>li>a:hover,.navigation .menu>li>a:active {
    color:#eb008b;
}
/* -------------------------------------------------------------------
SLIDER
------------------------------------------------------------------- */
.slider {
    width:960px;
    height:400px;
    margin:0 auto;
    background:url('images/drop-shadow-slider.png') bottom center no-repeat;
    padding:0 0 30px;
}
.slider .meteor-nav .prev a {
    background:transparent url('images/btn-prev.png') no-repeat top left;
}
.slider .meteor-nav .prev a:hover {
    background:transparent url('images/btn-prev.png') no-repeat bottom left;
}
.slider .meteor-nav .next a {
    background:transparent url('images/btn-next.png') no-repeat top left;
}
.slider .meteor-nav .next a:hover {
    background:transparent url('images/btn-next.png') no-repeat bottom left;
}
.slider .meteor-nav .prev a,.slider .meteor-nav .next a {
    width:56px;
    height:56px;
    top:175px;
}
.slider .meteor-slides .meteor-buttons {
    bottom:10px;
    width:auto;
    right:20px;
}
.slider .meteor-slides .meteor-buttons a {
    width:11px;
    height:14px;
    background:url('images/slider-buttons.png') no-repeat bottom left;
}
.slider .meteor-slides .meteor-buttons a:hover,.slider .meteor-slides .meteor-buttons a.activeSlide {
    background:url('images/slider-buttons.png') no-repeat bottom right;
}
.phone-number {
    font-family:'LeagueGothicRegular',Arial,sans-serif;
    font-size:26px;
}

.business-hours {
    font-size:10px;
    color:#d99ab8;
}

a:link,a:visited {
    text-decoration:none;
}
a:hover,a:active {
    text-decoration:underline;
}
.footer {
    color:#ffffff;
}
.contact-us-links li {
    margin:0 15px 0 0;
}
.contact-us-links li>a {
    background-image:url('images/ui-icons-contact.png');
    background-repeat:no-repeat;
    display:block;
    height:31px;
    text-indent:-9000px;
}
.contact-us-links li.home>a {
    width:34px;
    background-position:-4px -5px;
}
.contact-us-links li.home>a:hover {
    background-position:-4px -60px;
}
.contact-us-links li.mail>a {
    width:34px;
    background-position:-53px -6px;
}
.contact-us-links li.mail>a:hover {
    background-position:-53px -61px;
}
.contact-us-links li.facebook>a {
    width:30px;
    background-position:-104px -4px;
}
.contact-us-links li.facebook>a:hover {
    background-position:-104px -59px;
}

.contact-us-phone {
    background:url('images/ui-icon-phone.png') no-repeat 0 10px;
    padding:10px 0 10px 30px;
    color:#bc498b;
}
.featured-sections {
    width:900px;
    margin:0 auto 30px;
    position:relative;
}
.featured-sections>.heading {
    font-size:30px;
    line-height:35px;
    text-transform:uppercase;
    text-align:center;
    clear:both;
    margin:0 0 10px;
    font-family:'TeXGyreAdventorRegular',sans-serif;
    color:#b08ea2;
}
.featured-sections .item {
    width:280px;
    margin:0 25px 0 0;
}
.featured-sections .item .thumb {
    padding:0 0 16px;
    background:url('images/drop-shadow-280.png') bottom center no-repeat;
    display:block;
    width:280px;
    height:190px;
}
.featured-sections .item .thumb a {
    display:block;
}
.featured-sections .item .call-to-action {
    font-size:26px;
    line-height:28px;
    font-family:'Decker',sans-serif;
    color:#f5cade !important;
}
.featured-sections .item .call-to-action>strong {
    color:#eb8dbb !important;
}
.featured-sections .item .call-to-action>a {
    color:#f5cade !important;
}
.featured-sections .item .call-to-action>a>strong {
    color:#eb8dbb !important;
    display:block;
}
.featured-sections .item.last {
    margin:0;
    background:url('images/drop-shadow-280.png') 0 190px no-repeat;
}
.featured-sections .calculator {
    margin:0;
    height:170px;
    border:2px solid #eb008b;
    background:#8f0255 url('images/calculator.png') 0 0 repeat-x;
    margin:0 0 15px;
    padding:8px;
    width:262px;
    color:#ffffff;
    position:relative;
}
.featured-sections .calculator .heading {
    font-family:'TeXGyreAdventorBold',sans-serif;
    text-align:center;
    font-size:24px;
    line-height:26px;
    color:#ffffff;
}
.featured-sections .calculator .heading>strong {
    text-transform:uppercase;
    display:block;
}
.featured-sections .calculator .content .fields {
    float:left;
    padding:14px 8px 0 0;
}
.featured-sections .calculator .content .fields .imput-back {
    width:30px;
}
.featured-sections .calculator .instructions {
    font-size:11px;
    width:150px;
    margin:0 0 0 117px;
    display:none;
}
.featured-sections .calculator .note {
    font-size:10px;
    position:absolute;
    top:100px;
    left:8px;
    display:none;
}
.product-showcase {
    background:transparent url('images/drop-shadow-900.png') top center no-repeat;
    width:840px;
    margin:0 auto 45px;
    padding:30px 0 0;
}
.product-showcase>.heading {
    font-size:40px;
    font-family:'TeXGyreAdventorRegular',sans-serif;
    line-height:42px;
    margin:0 0 25px;
    color:#b08ea2;
}
.product-showcase .product {
    float:left;
    display:inline;
    width:260px;
    height:565px;
    margin:0 20px 0 0;
}
.product-showcase .product a {
    color:#b08ea2;
}
.product-showcase .product a:hover {
    color:#eb008b;
    text-decoration:none;
}
.product-showcase .product .heading {
    padding-top:340px;
    font-size:32px;
    line-height:35px;
    font-family:'TeXGyreAdventorBold',sans-serif;
    margin:0 0 10px;
}
.product-showcase .product .heading strong,.product-showcase .product .heading span {
    display:block;
    padding:0 0 0 20px;
}
.product-showcase .product .heading strong {
    text-transform:uppercase;
}
.product-showcase .product .heading span {
    padding:0 0 0 40px;
}
.product-showcase .product .callout {
    height:80px;
    background:url('images/bg-callout-demo.png') 0 0 no-repeat;
    position:relative;
}
.product-showcase .product .callout .demo {
    font-size:12px;
    position:absolute;
    top:8px;
    left:19px;
    font-family:'Decker',sans-serif;
}
.product-showcase .product .callout .demo>a {
    display:block;
    width:75px;
    height:75px;
    line-height:0;
    padding:0;
    background:url('images/link-demo.png') 0 0 no-repeat;
    text-indent:-9000px;
}
.product-showcase .product .callout .demo>a:hover {
    background-position:bottom left;
}
.product-showcase .product .callout .more {
    font-size:18px;
    position:absolute;
    bottom:25px;
    right:45px;
    text-transform:uppercase;
    font-family:'TeXGyreAdventorBold',sans-serif;
    text-shadow:0px 1px 0px #ffffff;
}
.product-showcase .product .callout .more>a {
    background:url('images/icon-arrow-up.png') right center no-repeat;
    padding:0 25px 0 0;
    color:#cfc1cf;
}
.product-showcase .product .callout .more>a:hover {
    color:#eb008b;
    text-decoration:none;
}
.product-showcase .product p {
    font-family:'Decker',sans-serif;
    font-size:15px;
    line-height:20px;
    margin:0;
    color:#b08ea2;
    padding:0 30px;
    height:120px;
}
.product-showcase .product.last {
    margin:0;
}
.product-showcase .product.signos {
    background:url('images/products/products-01.png') 0 0 no-repeat;
}
.product-showcase .product.tradicional {
    background:url('images/products/products-02.png') 0 0 no-repeat;
}
.product-showcase .product.easy {
    background:url('images/products/products-03.png') 0 0 no-repeat;
}
/* -------------------------------------------------------------------
BUTTONS
------------------------------------------------------------------- */
.btn {
    display:inline-block;
    *display:inline;
    *zoom:1;
    border-style:solid;
    border-width:1px;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.btn.btn-calculator {
    height:36px;
    width:135px;
    margin:78px auto 0;
    line-height:40px;
    color:#ffffff !important;
    background-color:transparent;
    border:none;
    display:block;
    font-size:19px;
    text-transform:uppercase;
    text-align:left;
    padding:0 0 0 20px;
}
.btn.btn-calculator:hover {
    text-decoration:none;
}
/* -------------------------------------------------------------------
MENSAJE
------------------------------------------------------------------- */
#msj {
    position:absolute;
    top:150px;
    right:18px;
    z-index:10;
}
#msj>.content {
    border-radius:5px;
    width:240px;
    height:40px;
    border:2px solid #ffffff;
    background:#c7c7c7 url('images/bg-calculator-message.png') 0 0 repeat-x;
    padding:10px;
    position:relative;
}
#msj>.content .arrow {
    background:url('images/arrow-below.png') 0 0 no-repeat;
    width:13px;
    height:7px;
    display:block;
    position:absolute;
    top:-9px;
    left:65px;
}
#msj>.content #msj_cerrar {
    width:11px;
    height:11px;
    display:block;
    text-indent:-9000px;
    background:url('images/icon-close.png') 0 0 no-repeat;
    position:absolute;
    top:5px;
    right:5px;
}
#msj>.content #msj_cerrar>a {
    display:block;
}
#msj>.content #msj_txt {
    font-size:12px;
}
/* -------------------------------------------------------------------
HEADER PHOTO
------------------------------------------------------------------- */
.header-photo {
    width:725px;
    height:320px;
    text-indent:-9000px;
    margin:0 auto;
}
.header-photo.consejos-para-embarazadas {
    background:url('images/headers/embarazadas.jpg') 0 0 no-repeat;
    height:302px;
}
.header-photo.consultorio-online {
    background:url('images/headers/consultorio-online.jpg') 0 0 no-repeat;
}
.header-photo.decidir-ser-padres {
    background:url('images/headers/decidir-ser-padres.jpg') 0 0 no-repeat;
}
.header-photo.linea-evatest {
    background:url('images/headers/linea-evatest.jpg') 0 0 no-repeat;
}
.header-photo.nombres-de-bebes {
    background:url('images/headers/nombres-de-bebes.jpg') 0 0 no-repeat;
}
.header-photo.salud-femenina {
    background:url('images/headers/salud-femenina.jpg') 0 0 no-repeat;
}
.header-photo.evatest-news {
    background:url('images/headers/evatest-news.jpg') 0 0 no-repeat;
}
.header-photo.test-de-embarazo {
    background:url('images/headers/test-de-embarazo.jpg') 0 0 no-repeat;
}
/* -------------------------------------------------------------------
ACCORDION
------------------------------------------------------------------- */
.accordion {
    width:580px;
    margin:0px auto 0;
    padding:0 0 40px;
    background:url('images/bg-accordion-bottom.png') bottom center no-repeat;
}
.accordion.top {
    margin:0 auto;
}
.accordion>.item .content {
    margin:0 0 15px;
}
.accordion>.item .content>h2 {
    font-size:20px;
    line-height:22px;
    margin:0 0 10px;
    font-weight:bold;
}
.accordion>.item .content>h3 {
    font-size:16px;
    line-height:20px;
    color:#eb008b;
    margin:0 0 16px;
    font-weight:bold;
}
.accordion>.item .content table {
    margin:0 0 14px;
}
.accordion>.item .content table thead th {
    padding:5px;
    border:1px solid #999999;
    text-align:center;
    background-color:#f3f3f3;
    font-weight:bold;
}
.accordion>.item .content table tbody td {
    padding:0 15px 0 0;
    line-height:20px;
    vertical-align:top;
    text-align:center;
    border:1px solid #999999;
    width:50%;
}
.accordion>.item .content table.excercise-chart tbody td {
    padding:15px 0;
    font-size:14px;
    line-height:20px;
}
.accordion>.item .content table.information-chart {
    width:100%;
}
.accordion>.item .content .seal {
    float:left;
    margin:20px 10px 20px 0;
}
.accordion>.item .content>ol {
    list-style:decimal;
    margin:0 0 14px 20px;
}
.accordion>.item .content>ol>li {
    display:list-item;
    font-size:14px;
    line-height:20px;
}
.accordion>.item .content>ol>li>strong {
    font-weight:bold;
}
.accordion>.item .content>ul {
    list-style-type:disc;
    margin:0 0 14px 20px;
}
.accordion>.item .content>ul>li {
    display:list-item;
    font-size:14px;
    line-height:20px;
}
.accordion>.item .content>ul>li>strong {
    font-weight:bold;
}
.accordion>.item .content>p {
    font-size:14px;
    line-height:20px;
    text-align:left;
    margin:0 0 13px;
}
.accordion>.item .content>p>strong {
    font-weight:bold;
}
.accordion>.item .content>p>a {
    color:#eb008b;
}
.accordion>.item .content .stand-out {
    font-weight:bold;
    color:#eb008b;
}
.accordion>.item>a,.accordion>.item>.title {
    color:#b08ea2;
    text-align:center;
    font-size:22px;
    font-family:'TeXGyreAdventorBold',sans-serif;
    text-transform:uppercase;
    height:62px;
    line-height:55px;
    background:url('images/bg-accordion-item.png') 0 0;
    display:block;
}
.accordion>.item>a:hover,.accordion>.item>.title:hover {
    background-position:bottom left;
}
.accordion>.item.is-active>.title {
    color:#eb008b;
}
.accordion1>.item>.title {
    color:#f57fc5;
    text-align:center;
    font-size:22px;
    font-family:'TeXGyreAdventorBold',sans-serif;
    text-transform:uppercase;
    height:62px;
    line-height:55px;
    background:url('images/bg-accordion-item.png') 0 0;
    display:block;
}
.accordion1>.item>a:hover,.accordion>.item>.title:hover {
    background-position:bottom left;
}
.accordion1>.item.is-active>.title {
    color:#eb008b;
}
.accordion1 {
    width:580px;
    margin:0px auto 0;
    padding:0 0 40px;
    background:url('images/bg-accordion-bottom.png') bottom center no-repeat;
}
.accordion1.top {
    margin:0 auto;
}
.accordion1>.item .content {
    margin:0 0 15px;
}
.accordion1>.item .content>h2 {
    font-size:20px;
    line-height:22px;
    margin:0 0 10px;
    font-weight:bold;
}
.accordion1>.item .content>h3 {
    font-size:16px;
    line-height:20px;
    color:#eb008b;
    margin:0 0 16px;
    font-weight:bold;
}
.accordion1>.item .content table {
    margin:0 0 14px;
}
.accordion1>.item .content table thead th {
    padding:5px;
    border:1px solid #999999;
    text-align:center;
    background-color:#f3f3f3;
    font-weight:bold;
}
.accordion1>.item .content table tbody td {
    padding:0 15px 0 0;
    line-height:20px;
    vertical-align:top;
    text-align:center;
    border:1px solid #999999;
    width:50%;
}
.accordion1>.item .content table.excercise-chart tbody td {
    padding:15px 0;
    font-size:14px;
    line-height:20px;
}
.accordion1>.item .content table.information-chart {
    width:100%;
}
.accordion1>.item .content .seal {
    float:left;
    margin:20px 10px 20px 0;
}
.accordion1>.item .content>ol {
    list-style:decimal;
    margin:0 0 14px 20px;
}
.accordion1>.item .content>ol>li {
    display:list-item;
    font-size:14px;
    line-height:20px;
}
.accordion1>.item .content>ol>li>strong {
    font-weight:bold;
}
.accordion1>.item .content>ul {
    list-style-type:disc;
    margin:0 0 14px 20px;
}
.accordion1>.item .content>ul>li {
    display:list-item;
    font-size:14px;
    line-height:20px;
}
.accordion1>.item .content>ul>li>strong {
    font-weight:bold;
}
.accordion1>.item .content>p {
    font-size:14px;
    line-height:20px;
    text-align:left;
    margin:0 0 13px;
}
.accordion1>.item .content>p>strong {
    font-weight:bold;
}
.accordion1>.item .content>p>a {
    color:#eb008b;
}
.accordion1>.item .content .stand-out {
    font-weight:bold;
    color:#eb008b;
}
/* -------------------------------------------------------------------
CONTACT FORM
------------------------------------------------------------------- */
.contact-form {
    background:url('images/bg-contact-form.png') 0 0 no-repeat;
    width:600px;
    height:240px;
    margin:0 auto;
    color:#ffffff;
}
.contact-form>ul>li {
    font-size:12px;
}
.contact-form form {
    width:300px;
    float:left;
    padding:10px 0 0 10px;
}
.contact-form form textarea {
    width:300px;
    height:90px;
    font-family:Arial,sans-serif;
}
.contact-form form input.your-name,.contact-form form input.your-email,.contact-form form textarea {
    width:300px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.contact-form form .topic-select .label {
    line-height:25px;
    margin:0 5px 0 0;
}
.contact-form form select {
    width:230px;
}
.contact-form form .captcha-txt {
    width:50px;
}
.contact-form form .call-to-action li {
    padding:0 5px 0 0;
}
.contact-form form .call-to-action li strong {
    display:block;
}
.contact-form form .call-to-action .submit {
    padding:0;
}
.contact-form form .call-to-action .submit .wpcf7-submit {
    width:78px;
    height:30px;
    text-transform:uppercase;
    text-indent:-9000px;
    cursor:pointer;
    background-color:transparent;
    padding:0;
    margin:0;
    border:none;
    background-image:url('images/btn-send.png');
    background-position:top left;
    background-repeat:no-repeat;
}
.contact-form form .call-to-action .submit .wpcf7-submit:hover {
    background-position:bottom left;
}
.contact-form .instructions {
    width:235px;
    float:right;
    padding:10px 30px 0 0;
}
.contact-form .instructions li {
    font-size:12px;
    margin:0 0 8px;
}
.contact-form .instructions li.subscribe {
    color:#f57fc5;
}
.contact-form .instructions li.subscribe label {
    cursor: pointer;
}

/* -------------------------------------------------------------------
NOMBRES DE BEBÉS
------------------------------------------------------------------- */
.nombres-bebes .heading {
    font-size:20px;
    font-family:'TeXGyreAdventorRegular',sans-serif;
    clear:both;
    margin:15px;
    color:#b08ea2;
}
.nombres-bebes .l-inline.category {
    margin:0 0 10px;
}
.nombres-bebes .l-inline.category li {
    font-size:14px;
    font-weight:bold;
    margin:0 10px 0 0;
    background-image:url('images/icon-bebes.png');
    background-repeat:no-repeat;
    width:57px;
    height:20px;
    display:block;
    text-indent:-9000px;
}
.nombres-bebes .l-inline.category li a {
    display:block;
}
.nombres-bebes .l-inline.category li.masculino {
    background-position:0 0;
}
.nombres-bebes .l-inline.category li.masculino.is-active {
    background-position:0 -20px;
}
.nombres-bebes .l-inline.category li.femenino {
    background-position:-57px 0;
}
.nombres-bebes .l-inline.category li.femenino.is-active {
    background-position:-57px -20px;
}
.nombres-bebes strong {
    font-weight:bold;
    color:#bde5f8;
}
.nombres-bebes .name-list .tab-name li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:260px;
    margin:0 15px 8px 0;
}
/* -------------------------------------------------------------------
FORMULARIO
------------------------------------------------------------------- */
.wpcf7 {
    margin:0;
    padding:0;
}
.wpcf7 br {
    display:none;
}
.wpcf7-response-output {
    margin:2em 0.5em 1em;
    padding:0.2em 1em;
    color:#666666;
    border-width:1px;
    border-style:solid;
}
.wpcf7-response-output.wpcf7-mail-sent-ok {
    border-color:#4f8a10;
    color:#4f8a10;
    background-color:#dff2bf;
}
.wpcf7-response-output.wpcf7-mail-sent-ng {
    border-color:#d8000c;
    color:#d8000c;
    background-color:#ffbaba;
}
.wpcf7-response-output.wpcf7-spam-blocked {
    border-color:#00529b;
    color:#00529b;
    background-color:#bde5f8;
}
.wpcf7-response-output.wpcf7-validation-errors {
    border-color:#9f6000;
    color:#9f6000;
    background-color:#feefb3;
}
.wpcf7-form-control-wrap {
    position:relative;
    display:block;
}
.wpcf7-not-valid-tip {
    position:absolute;
    top:-2px;
    left:0;
    z-index:100;
    font-size:10pt;
    width:280px;
    padding:2px;
    background:#ffbaba;
    color:#d8000c;
    border:1px solid #d8000c;
}
.wpcf7-form-control-wrap.your-name .wpcf7-not-valid-tip,.wpcf7-form-control-wrap.your-email .wpcf7-not-valid-tip,.wpcf7-form-control-wrap.your-message .wpcf7-not-valid-tip {
    left:-304px;
}
.wpcf7-form-control-wrap.topic .wpcf7-not-valid-tip {
    left:-367px;
}
.wpcf7-form-control-wrap.captcha .wpcf7-not-valid-tip {
    left:-445px;
}
.wpcf7-not-valid-tip-no-ajax {
    color:#d8000c;
    font-size:10pt;
    display:block;
}
.wpcf7-list-item {
    margin-left:0.5em;
}
.wpcf7-display-none {
    display:none;
}
.wpcf7 .ajax-loader {
    border:none;
    vertical-align:middle;
    margin-left:4px;
}
.wpcf7 .watermark {
    color:#888;
}
/* -------------------------------------------------------------------
ALERT MESSAGES
------------------------------------------------------------------- */
.system-message {
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:5px;
    clear:both;
    margin:20px;
    font-size:14px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.system-message.info {
    border-color:#00529b;
    color:#00529B;
    background-color:#BDE5F8;
    text-shadow:0px 1px 0px #eaf8ff;
}
/* -------------------------------------------------------------------
WIDGETS
------------------------------------------------------------------- */
.page-id-94 .ui-widget-content,
.page-template-pagesnombres-php .ui-widget-content {
    border:none;
    background:transparent none;
    color:#333;
}
.page-id-94 .ui-widget-header,
.page-template-pagesnombres-php .ui-widget-header {
    border:none;
    background:none;
    color:#333;
    font-weight:bold;
}
.page-id-94 .ui-state-default,
.page-template-pagesnombres-php .ui-state-default,
.page-id-94 .ui-widget-content .ui-state-default,
.page-template-pagesnombres-php .ui-widget-content .ui-state-default,
.page-id-94 .ui-widget-header .ui-state-default,
.page-template-pagesnombres-php .ui-widget-header .ui-state-default {
    border:1px solid #BBB;
    background:#ededed;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#ededed),color-stop(1,#ffffff));
    background:-ms-linear-gradient(bottom,#ededed,#ffffff);
    background:-moz-linear-gradient(center bottom,#ededed 0%,#ffffff 100%);
    background:-o-linear-gradient(#ffffff,#ededed);
    font-weight:bold;
    color:#bbb;
}
.page-id-94 .ui-tabs .ui-tabs-nav li,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li {
    border-bottom-width:1px !important;
    border-bottom-style:solid !important;
    border-color:#bbb;
}
.page-id-94 .ui-corner-top,
.page-template-pagesnombres-php .ui-corner-top {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}
.page-id-94 .ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom:0;
}
.page-id-94 .ui-tabs .ui-tabs-nav li,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li {
    margin:0;
    padding:0;
    width:38px;
}
.page-id-94 .ui-tabs .ui-tabs-nav li a,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li a {
    font-size:14px;
    font-family:Arial;
}
.page-id-94 .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.page-id-94 .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.page-id-94 .ui-tabs .ui-tabs-nav li.ui-state-processing a,
.page-template-pagesnombres-php .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor:text;
    color:#f00;
    background-color:#eee;
    color:#00aeff;
    text-shadow:0px 1px 0px #fff;
    -webkit-box-shadow:inset 0px 0px 3px 3px #d2d2d2;
    box-shadow:inset 0px 0px 3px 3px #d2d2d2;
}
/* -------------------------------------------------------------------
CONSULTORIO ONLINE
------------------------------------------------------------------- */
.consultorio-online .heading {
    font-size:20px;
    line-height:24px;
    font-family:'TeXGyreAdventorBold',sans-serif;
    color:#f57fc5;
    text-align:center;
    padding:0 0 40px;
    background:url('images/bg-heading-bottom.png') bottom center no-repeat;
    text-transform:uppercase;
}
.consultorio-online>p {
    font-size:14px;
    line-height:20px;
    color:#f57fc5;
    margin:0 0 20px;
}
.page-id-46 .note {
    font-size:12px;
    color:#666666;
    clear:both;
}
.page-id-46 .filter-label {
    margin:0;
    color:#555;
    clear:both;
    font-weight:bold;
}
.page-id-46 .ui-tabs-nav .ui-state-default {
    display:inline-block;
    *display:inline;
    *zoom:1;
    border-right:1px solid #ccc;
    padding:0 10px 0 0;
    margin:0 0 0 10px;
}
.page-id-46 .ui-tabs-nav .ui-state-default a {
    color:#eb008b;
    text-decoration:underline;
}
.page-id-46 .ui-tabs-nav .ui-state-default a:hover {
    text-decoration:none;
}
.page-id-46 .ui-tabs-nav .ui-state-default.first {
    margin:0;
}
.page-id-46 .ui-tabs-nav .ui-state-default.last {
    padding:0;
    border-right:none;
}
.page-id-46 .ui-tabs-nav .ui-state-default.ui-state-active a {
    color:#000;
    text-decoration:none;
}
.query-item {
    border-bottom:1px dashed #eb008b;
    padding:0 0 10px;
    margin:0 0 30px;
}
.query-item strong {
    font-weight:bold;
}
.query-item .date {
    text-transform:uppercase;
}
.query-item .user {
    color:#a70264;
}
.query-item .question {
    color:#555555;
    font-weight:bold;
    margin-bottom:10px;
}
.query-item .answer {
    color:#7c7c7c;
}
.consultas-posts {
    background:url('images/bg-content-section.png') top center no-repeat;
    clear:both;
    margin:15px 0 0;
    padding:30px 0 0;
}
.consultas-posts .post-date {
    float:left;
    margin-left:-45px;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    background-color:#a70264;
    text-align:center;
}
.consultas-posts .post-date .dia {
    display:block;
    font-size:18px;
    background:#f3f3f3;
    color:#333;
    border:1px solid #b0bbca;
    border-top:none;
    color:#767e88;
    padding:0 5px;
}
.consultas-posts article {
    margin:10px 0 15px;
    padding:0 0 15px;
    border-bottom:1px dashed #a70264;
}
.consultas-posts .query-question {
    font-weight:bold;
}
.consultas-posts .query-question .user {
    color:#a70264;
}
.consultas-posts .cat-filters li {
    margin:0 5px 0 0;
    padding:0 5px 0 0;
    border-right:1px solid #999999;
}
.consultas-posts .cat-filters li.first {
    border:none;
}
#archive-browser>div {
    display:inline-block;
    padding-right:10px;
}
#archive-wrapper {
    overflow:hidden;
}
#archives-table {
    border-collapse:collapse;
    margin:15px 0 0 0;
    width:100%;
}
#archives-table td {
    padding:4px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
#archives-table td:nth-child(3),#archives-table td:nth-child(4) {
    white-space:nowrap;
}

/* -------------------------------------------------------------------
MODULOS RELACIONADOS
------------------------------------------------------------------- */
.modules .module {
    margin:0;
}
.modules .module.calculadora-de-ovulacion {
    background:url('images/destacados/calculadora-de-ovulacion.png') 0 0 no-repeat;
    position:relative;
    padding:0 0 10px;
}
.modules .module.calculadora-de-ovulacion .content {
    padding:30px 17px 0px 155px;
}
.modules .module.calculadora-de-ovulacion .content .fields .imput-back {
    width:30px;
}
.modules .module.calculadora-de-ovulacion .btn-calculator {
    margin:10px 0 0 154px;
    padding:0 0 0 10px;
    height:24px;
    width:100px;
    font-size:14px;
    line-height:24px;
}
.modules .module.calculadora-de-ovulacion #msj {
    top:61px;
    right:-138px;
}
/* -------------------------------------------------------------------
LEGALES
------------------------------------------------------------------- */
.legales h2 {
    font-size:16px;
    line-height:20px;
    font-weight:bold;
    width:600px;
    margin:0 auto 15px;
}
.legales h3 {
    font-size:14px;
    line-height:18px;
    font-weight:bold;
    margin:0 0 5px;
}
.legales p {
    margin:0 0 10px;
    line-height:20px;
}
/* -------------------------------------------------------------------
404
------------------------------------------------------------------- */
.error404 {
    background-image:none;
}
.error404 .header,.error404 .footer,.error404 .navigation {
    display:none;
}
.error404 .page-not-found {
    width:860px;
    height:479px;
    background:url('images/error-404.jpg') 0 0 no-repeat transparent;
    text-indent:-9000px;
    display:block;
    margin:0 auto;
}
.error404 .page-not-found>a {
    display:block;
    width:860px;
    height:479px;
}
/* -------------------------------------------------------------------
SITEMAP PAGE
------------------------------------------------------------------- */
#wp-realtime-sitemap-pages h3 {
    font-weight:bold;
}
#wp-realtime-sitemap-pages ul li {
    line-height:22px;
}
#wp-realtime-sitemap-pages ul li .children {
    margin:0 0 0 20px;
}
#wp-realtime-sitemap-pages ul li .children li {
    display:list-item;
    list-style-type:disc;
}
/* -------------------------------------------------------------------
TABLES
------------------------------------------------------------------- */
table.cuadro {
    border:1px solid #ccc;
}
table.cuadro td,table.cuadro th {
    text-align:center;
    border:1px solid #ccc;
    padding:3px;
    font-size:12px;
}
table.cuadro th {
    text-align:left;
    font-weight:bold;
}
/* -------------------------------------------------------------------
FANCYBOX
------------------------------------------------------------------- */
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #fff;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('fancybox/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    /*background: transparent;  Fallback for web browsers that doesn't support RGBa */
    background: #000;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
.page-template-template-fancybox-php {
    background:none;
    margin:0;
}
.page-template-template-fancybox-php .header,.page-template-template-fancybox-php .footer,.page-template-template-fancybox-php .navigation {
    display:none;
}
.page-template-template-fancybox-php #main>.content {
    width:512px;
    padding:0 0 50px;
}
.page-template-template-fancybox-php #main>.content .entry {
    width:512px;
}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}
/* -------------------------------------------------------------------
PREGUNTAS FRECUENTES
------------------------------------------------------------------- */
.faq>li {
    margin:0 0 15px;
}
.faq>li>ul {
    margin:0 0 0 20px;
    list-style-type:disc;
}
.faq>li>ul>li {
    display:list-item;
}
.faq span {
    font-weight:bold;
    color:#eb008b;
    display:block;
}
.faq strong {
    font-weight:bold;
}
.faq br {
    display:none;
}
/* -------------------------------------------------------------------
PAGE SPECIFIC
------------------------------------------------------------------- */

/* Consejos para embarazadas -> Constipación y hemorroides */
.page-id-29 .content h2 {
    color:#eb008b;
}
.page-id-29 .content .accordion>.item .content h3 {
    font-size:15px;
    margin-bottom:5px;
}

/* -------------------------------------------------------------------
Mosaic
------------------------------------------------------------------- */

.mosaic-block {
    float:left;
    position:relative;
    overflow:hidden;
    width:280px;
    height:190px;
    background:#111 url(images/progress.gif) no-repeat center center;
}

    .mosaic-backdrop {
        display:none;
        position:absolute;
        top:0;
        height:100%;
        width:100%;
        background:#111;
    }

    .mosaic-overlay {
        display:none;
        z-index:5;
        position:absolute;
        width:100%;
        height:100%;
        background:#111;
    }

        .circle .mosaic-overlay {
            background:url(images/mosaic/hover-magnify.png) no-repeat center center;
            opacity:0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
            filter:alpha(opacity=00);
            display:none;
        }

        .fade .mosaic-overlay {
            opacity:0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
            filter:alpha(opacity=00);
            background:url(images/mosaic/bg-black.png);
        }

        .bar .mosaic-overlay {
            bottom:-100px;
            height:100px;
            background:url(images/mosaic/bg-black.png);
        }

        .bar2 .mosaic-overlay {
            bottom:-50px;
            height:100px;
            opacity:0.8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter:alpha(opacity=80);
        }

            .bar2 .mosaic-overlay:hover {
                opacity:1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter:alpha(opacity=100);
            }

        .bar3 .mosaic-overlay {
            top:-100px;
            height:100px;
            background:url(images/mosaic/bg-black.png);
        }

.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption {}
.bypostauthor {}